body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
    line-height: 1.25;
    font-family: 'Raleway' ,sans-serif;
}

.navbar {
   background-color: rgba(180, 169, 144, 0.51);
}

li.nav-item {
    float: left;
    position: relative;
    overflow: hidden;
  }

 .navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,.75);
 }

 .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255,255,255);
}

li.nav-item:hover::after {
    width: 100%;
  }
  
li.nav-item::after {
    background-color: #03a5fc;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
  }

.index-body {
    background-image: url("bg-image1.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
   }

.main-search {
    position: absolute;
    margin: 0;
    padding: 0;
    color:#f9f1e9;
    text-align: center;
    text-shadow: 0.5px 0.5px black;
    top: 30%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.jumbotron {
    background: rgb(211, 211, 211); /* This is for ie8 and below */
    background: rgba(211, 211, 211, 0.6); 
 }

 .book-img {
     border-radius: 8px;
     max-width: 100%;
     max-height: 100% 
 }

 
.hr-style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.dropdown-content {
    background-color: #f6f6f6;
    min-width: 230px;
    border-radius: 5px;
    text-shadow: none;
}

#alist a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }

.comment-author {
    text-align: right;
    
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


/* css for star rating */

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

.stars {
    content: "\2605";
    color: #FFD700;
    text-align: right;
}


