.index-body {
    background-image: url("bg-image1.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
   }

.jumbotron {
    background: rgb(211, 211, 211); /* This is for ie8 and below */
    background: rgba(211, 211, 211, 0.6); 
 }

 .book-img {
     border-radius: 8px;
     max-width: 100%;
     max-height: 100% 
 }

 
.hr-style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


   