{% extends "layout.html" %}

{% block title %}
    {{result[2]}}
{% endblock %}

{% block bodyClass %}  {% endblock %}

{% block main %}
    <div class="container">
        {% if result %}    
            <div class="row flex-sm-row flex-column">
                <div class="col-2 pt-3">
                    <img class="book-img float-sm-right" src="https://images.unsplash.com/photo-1551300317-58b878a9ff6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"  alt="...">
                </div>

                <div class="col-5 pt-3">
                    <h1 class="card-title">{{result[2]}}</h1>
                    <p class="card-text">Rachel Friedman has always been the consummate good girl who does well in school and plays it safe, so the college grad surprises no one more than herself when, on a whim (and in an effort to escape impending life decisions), she buys a ticket to Ireland, a place she has never visited. There she forms an unlikely bond with a free-spirited Australian girl, a born </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pl-0">Author: {{result[3]}}</li>
                        <li class="list-group-item pl-0">Year of publication: {{result[4]}}</li>
                        <li class="list-group-item pl-0">ISBN: {{result[1]}}</li>
                    </ul>

                                <!-- Show if user logged in -->
                    <form id="review-form" class="flex-column pt-3 pr-3" action="/books/{{bookid}}" method="POST">
                        <textarea name="comment" rows="2" cols="47"></textarea>
                        <div class="float-left mt-1 mr-2 pt-1">Your rating:</div>
                        <div class="rating d-inline-block mt-2">
                            <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                            <label for="star5">☆</label>
                            <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                            <label for="star4">☆</label>
                            <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                            <label for="star3">☆</label>
                            <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                            <label for="star2">☆</label>
                            <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                        
                        <button type="submit" id="btn-submit" class="btn btn-dark mt-2" style="display: block">Submit review</button> 
                    </form>
                   
                </div>
                <div class="col-5 pt-3">
                </div>
            </div>
            <div class="mt-2 text-center">
                <h4>Community reviews</h4>
                <hr class="hr-style-two"> 
                {% for review in reviews %}
                    <p class="comment">{{review[2]}}</p>
                    <p class="comment-author">Reviewed by: {{review[4]}}</p>
                    <hr class="hr-style-two"> 
                {% endfor %}
            </div>


        {% endif %}
    </div> 


{% endblock %}