{% extends "layout.html" %}

{% block title %}
    {{result[1]}}
{% endblock %}

{% block main %}
    <div class="container">
        {% if result %}    
            <div class="row flex-sm-row flex-column">
                <div class="col-6">
                    <img class="book-img float-sm-right" src="https://images.unsplash.com/photo-1551300317-58b878a9ff6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"  alt="...">
                </div>

                <div class="col-6">
                    <h1 class="card-title">{{result[2]}}</h1>
                    <p class="card-text">Book description</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pl-0">Author: {{result[3]}}</li>
                        <li class="list-group-item pl-0">Year of publication: {{result[4]}}</li>
                        <li class="list-group-item pl-0">ISBN: {{result[1]}}</li>
                    </ul>
                </div>

            </div>
        {% endif %}
    </div> 


{% endblock %}