{% extends "layout.html" %}

{% block title %}
    Search for a book
{% endblock %}

{% block bodyClass %} class="index-body" {% endblock %}

{% block main %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello, book lovers!</h1>
        <p class="lead">Here you will find book reviews and ratings. You can also leave your own reviews and read ratings from Goodreads.</p>
        <hr class="my-4">
        <form action="/books" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="isbn" id="isbn" autocomplete="off" list="isbn_list" placeholder="ISBN">
                <datalist id="isbn_list"></datalist>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="title" id="title" list="book_list" autocomplete="off" placeholder="Book title">
                <datalist id="book_list"></datalist>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="author" id="author" list="author_list" autocomplete="off" placeholder="Author of the book">
                <datalist id="author_list"></datalist>
            </div>
            <button class="btn btn-dark btn-lg" id="search-anchor" >Search</button>
        </form>

</div>


{% endblock %}