{% extends "layout.html" %}

{% block title %}
    Search for a book
{% endblock %}

{% block main %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello, book lovers!</h1>
        <p class="lead">Here you will find book reviews and ratings. You can also leave your own reviews and read ratings from Goodreads.</p>
        <hr class="my-4">
        <form action="/books" method="GET">
            <div class="form-group">
              <label for="bookquery">Search here!</label>
              <input type="text" class="form-control" name="bookquery" id="bookquery" placeholder="1984, Little prince">
            </div>
            <button class="btn btn-success btn-lg"  role="button">Search</button>
        <!-- here it ends -->
    </div>
        </form>

</div>


{% endblock %}